
.collapsible {
  background-color: #777;
  color: white;
  text-shadow: 0 0 10px white
  cursor: pointer;
  padding: 18px;
  width: 60%;
  border: none;
  text-align: left;
  float: right;
  outline: dotted;
  font-size: 20px;
  font-family: 'Averia Serif Libre', cursive;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  float: right;
  border: dotted;
  background-color: yellow;
  opacity: 70%;
  mix-blend-mode: exclusion;
}

.container {
  padding: 0px;
}

.container img {
  float: left;
  margin-right:20px;
  margin-top: 20px; 
  margin-bottom: 20px;
  box-shadow: 5px 5px 18px 10px rgb(255,55,0);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

body {
    background: rgb(255,55,0);
    background: radial-gradient(circle, rgba(255,55,0,1) 0%, rgba(116,113,68,1) 100%);
    font-family: 'Averia Serif Libre', cursive;
  }


h1 {
  color: white;
  text-shadow: 0 0 10px white;
  font-size: 18px;
  font-family: 'Averia Serif Libre', cursive;
  margin-right: 50px;
  margin-left: 50px;
  color:#191D26
  }

h2 {
  color: white;
  text-shadow: 0 0 10px white;
  font-size: 100px;
  font-family: 'Averia Serif Libre', cursive;
  margin-right: 50px;
  margin-left: 50px;
  color:#191D26
  border:dotted;
  }

p {
  font-size: 14px;
  font-family: 'Averia Serif Libre', serif;
  margin-right: 100px;
  margin-left: 100px;
  color:#191D26;
}