
/* TOP TITLES */
h2{
    font-size: 21px;
    line-height: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

/* LEFT SIDE - PHOTO CAPTIONS */
h4 {
    font-family: 'Cutive Mono', monospace;
    font-size: 60px;
    color: black;
    /*background-color: rgba(255, 255, 0, 0.426);*/
}



/* RIGHT SIDE */
h1{
    font-family: 'Cutive Mono', monospace;
    font-size: 24px;
    background-color: yellow;
}

h3{
    line-height: 1.2em;
    font-family: 'Cutive Mono', monospace;
    font-weight: lighter;
    width: 600px;
    font-size: 16px;
    line-height: 1.4em;
    color:grey;
}

p{
    line-height: 1.2em;
    font-family: 'Cutive Mono', monospace;
    font-weight: lighter;
    width: 600px;
    font-size: 16px;
    line-height: 1.4em;
    color:blue
}